<html>
    <div th:fragment="loginForm">
        <div class="py-5 text-center">
            <h2 th:text="#{label.loginTitle}"></h2>
            <p class="lead" th:text="#{label.loginDesc}"></p>
        </div>

        <div class="inline-block col-sm-6 mx-auto">
            <form action="#" class="needs-validation" novalidate th:action="@{/login}" th:object="${user}" method="post">
                <div class="col-12">
                    <label for="username" class="form-label" th:text="#{label.username}"></label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="username" th:placeholder="#{label.username}" required field="*{username}" name="username">
                        <div class="invalid-feedback" th:text="#{label.invalidUsername}"></div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="password" class="form-label" th:text="#{label.password}"></label>
                    <input type="password" class="form-control" id="password" required field="*{password}" name="password" th:placeholder="#{label.password}">
                    <div class="invalid-feedback" th:text="#{label.invalidPassword}"></div>
                </div>

                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{label.login}"></button>
            </form>
        </div>
    </div>
</html>
