<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <script th:src="@{/css/sidebars.js}"></script>
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <div class="container">
                <div class="row">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                                <a class="nav-link active" href="#" sec:authorize="isAuthenticated()" sec:authentication="name"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/main">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/usersCollections">Users collections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/collections" sec:authorize="isAuthenticated()"> Your collections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login" sec:authorize="isAnonymous()">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/registration" sec:authorize="isAnonymous()">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">Admin panel</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row gx-4">
                    <form class="d-flex" th:action="@{/search}" th:object="${user}">
                        <div class="col-sm-11 me-2">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>