<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/dataTable :: dataTable}">
    <div th:replace="~{fragments/header :: header}"></div>
    <title th:text="#{label.admin}"></title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        $(document).ready(function () {
            $("#selectAll").change(function () {
                $("input:checkbox").prop('checked', $(this).prop("checked"));
            });
        });
        </script>
</head>

<body class="bg-light">
<div class="container-fluid">
    <div th:replace="~{fragments/flashMessage :: flashMessage}"></div>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="row">
        <form th:action="@{admin/editUsers}" th:object="${users}" method="post">
                <button title="Block" type="submit" name="action" value="block" class="btn btn-warning" th:text="#{label.blockBtn}"></button>
                <button title="Unblock" type="submit" name="action" value="unblock" class="btn btn-success" th:text="#{label.unblockBtn}"></button>
                <button title="Delete" type="submit" name="action" value="delete" class="btn btn-danger" th:text="#{label.deleteBtn}"></button>
                <button title="GrantAdmin" type="submit" name="action" value="grantAdmin" class="btn btn-primary" th:text="#{label.adminBtn}"></button>
                <button title="RevokeAdmin" type="submit" name="action" value="revokeAdmin" class="btn btn-secondary" th:text="#{label.removeAdminBtn}"></button>
                <table id="objectable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll"/></th>
                        <th th:text="#{label.objectId}"></th>
                        <th th:text="#{label.username}"></th>
                        <th th:text="#{label.mail}"></th>
                        <th th:text="#{label.userStatus}"></th>
                        <th th:text="#{label.userRoles}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${users}">
                        <td><input type="checkbox" th:value="${user.username}" id="select" name="select"/></td>
                        <td th:text="${user.id}"/>
                        <td th:text="${user.username}"/>
                        <td th:text="${user.email}"/>
                        <td th:if="${user.blocked} == true" th:text="#{label.userBlocked}"/>
                        <td th:if="${user.blocked} == false" th:text="#{label.userActive}"/>
                        <td>
                            <span th:each="role: ${user.roles}">
                                <span th:if="${role.name} == 'ROLE_USER' "th:text="#{label.roleUser}+','"></span>
                                <span th:if="${role.name} == 'ROLE_ADMIN' "th:text="#{label.roleAdmin}"></span>
                            </span>
                        </td>


                    </tr>
                    </tbody>
                </table>
            </form>
    </div>
    <div class="col-sm-12">
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<script th:src="@{/css/bootstrap.bundle.min.js}"></script>
</body>
</html>
