<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/dataTable :: dataTable}"></div>
    <title th:text="#{label.collections}"></title>
</head>
<body class="bg-light">
    <div th:replace="~{fragments/flashMessage :: flashMessage}"></div>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="container-fluid">
        <div class="row">
            <a href="/collection/create" class="col-sm-1 ms-4 my-2 btn btn-primary" th:text="#{label.newCollectionBtn}"></a>
        </div>
        <div class="row">
            <table id="objectable" class="table table-striped table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th class="col-3" th:text="#{label.collectionName}"></th>
                        <th class="col-6" th:text="#{label.collectionDesc}"></th>
                        <th class="col-2" th:text="#{label.collectionTopic}"></th>
                        <th class="col-1" th:text="#{label.actionsTh}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="collection: ${collections}">
                        <td><a th:href="@{/collection/{collectionId}/overview(collectionId=${collection.id})}" th:text="${collection.name}"></a></td>
                        <td th:utext="${collection.description}"></td>
                        <td th:text="${collection.collectionTopic.topicName}"></td>
                        <td>
                            <a th:href="@{/collection/{collectionId}/edit(collectionId=${collection.id})}" class="btn btn-sm btn-warning" th:text="#{label.editBtn}"></a>
                            <a th:href="@{/collection/{collectionId}/delete(collectionId=${collection.id})}" class="btn btn-sm btn-danger" th:text="#{label.deleteBtn}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>