<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header}"></div>
    <title>Create a new collection</title>
</head>
<body class="bg-light">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="container-fluid">
        <div class="row">
            <div class="py-5 text-center">
                <h2>Create a new collection</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="inline-block col-sm-6 mx-auto">
                    <form class="needs-validation" novalidate th:action="@{/collection/create}" th:object="${collection}" method="post">
                        <div class="mb-3">
                            <label for="collectionCreateName" class="form-label">Name</label>
                            <input type="text" name="name" placeholder="Name" required id="collectionCreateName" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label for="collectionCreateDescription" class="form-label">Description</label>
                            <textarea name="description" placeholder="Description" required id="collectionCreateDescription" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="Topic" class="form-label">Topic</label>
                            <select name="topicName" required id="Topic" class="form-select form-select-sm">
                                <option th:each="topic : ${collectionTopics}"
                                        th:value="${topic.topicName}"
                                        th:text="${topic.topicName}">
                                </option>
                            </select>
                        </div>
                        <div class="mb-3 fieldsDiv" id="fieldsDiv">
                            <select name="fieldType">
                                <option th:each="type : ${fieldTypes}"
                                        th:value="${type.nameType}"
                                        th:text="${type.nameType}">
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="col-sm-2 btn btn-primary" id="repeatFieldBtn" data-increment="1">Add field...</button>
                        </div>
                        <hr class="my-4">
                        <button type="submit" class="btn-lg btn btn-primary">Submit</button>
                        <a href="/collections" class="btn-lg btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script th:src="@{/css/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/css/sidebars.js}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/addField.js}"></script>
</body>
</html>
