<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/dataTable :: dataTable}">
    <div th:replace="~{fragments/header :: header}"></div>
    <title th:text="'Items in '+${collection.name}+' collection'"></title>
</head>
<body class="bg-light">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container-fluid">
    <div class="row">
        <a sec:authorize="isAuthenticated()" th:if="${collection.collectionOwner.username == #authentication.getPrincipal().getUsername() or #strings.contains(#authentication.getPrincipal().getAuthorities(), 'ROLE_ADMIN')}" th:href="@{/collection/{id}/createItem(id=${collection.id})}" class="col-sm-1 ms-4 my-2 btn btn-primary">Add new item</a>
    </div>
    <div class="row">
            <table id="objectable" class="table table-striped table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th class="col-1">Item ID</th>
                        <th class="col-2">Name</th>
                        <th class="col-2">Tags</th>
                        <th class="col-6">Collection Fields</th>
                        <th sec:authorize="isAuthenticated()" th:if="${collection.collectionOwner.username == #authentication.getPrincipal().getUsername() or #strings.contains(#authentication.getPrincipal().getAuthorities(), 'ROLE_ADMIN')}" class="col-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${collectionItems}">
                    <td th:text="${item.id}"></td>
                    <td><a th:href="@{/item/{itemId}/overview(itemId=${item.id})}" th:text="${item.itemName}"></a></td>
                    <td>
                        <span th:block th:each="tag: ${item.itemTags}">
                            <span class="bg-info rounded-pill p-1" th:text="${tag.tagName}"></span>
                        </span>
                    </td>
                    <td>
                        <span  th:block th:each="field : ${item.customItemFields}" th:text="${field.customFieldsData.name}+': '+${field.fieldContent}+' '"></span>
                    </td>
                    <td sec:authorize="isAuthenticated()" th:if="${item.itemOwner.username == #authentication.getPrincipal().getUsername() or #strings.contains(#authentication.getPrincipal().getAuthorities(), 'ROLE_ADMIN')}">
                        <a th:href="@{/item/{itemId}/edit(itemId=${item.id})}" class="btn btn-sm btn-warning">Edit</a>
                        <a th:href="@{/item/{itemId}/delete(itemId=${item.id})}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script th:src="@{/css/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/css/sidebars.js}"></script>
</body>
</html>
