<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="~{fragments/header :: header}"></div>
        <title th:text="${item.itemName}"></title>
    </head>
    <body class="bg-light">
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
        <div class="container">
            <div class="row mt-2">
            </div>
            <div class="row">
                <div class="col-md-6 py-2">
                    <div class="shadow p-2 bg-body rounded">
                        <h2 class="text-center" th:if="${#strings.isEmpty(item.imageUrl)}" th:text="#{label.missingImage}"></h2>
                        <img th:unless="${#strings.isEmpty(item.imageUrl)}" th:src="${item.imageUrl}" alt="Image" class="img-fluid" />
                    </div>
                </div>
                <div class="col-md-6 py-2">
                    <div class="h-100 shadow p-2 mb-5 bg-body rounded">
                        <div class="container">
                            <div class="row">
                                <h2 th:text="${item.itemName}" class="text-center"></h2>
                                <a sec:authorize="isAuthenticated()" th:if="${likedByUser == null}"class="text-center" th:href="@{/item/{itemId}/overview/likeItem(itemId=${item.id})}"><img th:src="@{/img/like.svg}" th:text="#{label.addLike}"></a>
                                <a sec:authorize="isAuthenticated()" th:if="${likedByUser != null}" class="text-center" th:href="@{/item/{itemId}/overview/dislikeItem(itemId=${item.id})}"><img th:src="@{/img/like.svg}" th:text="#{label.removeLike}"></a>
                            </div>
                            <div class="row">
                                <p class="text-center fs-6 fst-italic">
                                    <span th:text="#{label.itemCollection(${item.itemCollection.name})}"></span>
                                </p>
                                <p class="text-center fs-6 fst-italic">
                                    <span th:text="#{label.itemOwner(${item.itemOwner.username})}"></span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <span th:text="#{label.itemPageId(${item.id})}"></span><br/>
                        <span th:text="#{label.itemPageLikes(${#lists.size(likes)})}"></span><br/>
                        <span th:text="#{label.itemPageTags}"></span>
                        <span th:each="tag : ${item.itemTags}" th:text="${tag.itemTag.tagName}+', '"></span><br/><br/>
                        <span th:block th:each="field : ${item.collectionsFieldsData}">
                            <span th:if="${field.collectionField.fieldType.nameType} != 'Boolean'"th:inline="text">[[${field.collectionField.name}]]: [[${field.fieldContent}]]</span>
                            <span th:if="${field.collectionField.fieldType.nameType} == 'Boolean'" th:inline="text">[[${field.collectionField.name}]]: </span>
                            <input th:if="${field.collectionField.fieldType.nameType} == 'Boolean' and ${field.fieldContent} == '1'" type="checkbox"  checked onclick="return false;">
                            <input th:if="${field.collectionField.fieldType.nameType} == 'Boolean' and ${field.fieldContent} == '0'" type="checkbox" onclick="return false;">
                            <br>
                        </span>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <div class="row">
                <h2 class="text-center" th:text="#{label.itemPageComments}"></h2>
                <div class="container mt-4">
                    <div class="row mx-auto">
                        <hr>
                        <form sec:authorize="isAuthenticated()" th:action="@{/item/{id}/overview/addComment(id=${item.id})}" method="post">
                            <div class="mb-3">
                                <textarea name="comment" th:placeholder="#{label.commentArea}" class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                <input type="submit" th:value="#{label.addCommentBtn}" class="btn btn-primary btn-lg w-100" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <hr>
                        <table id="itemComments" th:data-item-id="${item.id}" th:data-latest-comment-id="${latestCommentId}" class="table table-striped text-wrap text-break">
                            <thead>
                                <tr>
                                    <th class="col-3"></th>
                                    <th class="col-9"></th>
                                </tr>
                            </thead>
                            <tbody id="userComments">
                                <tr class="comment" th:each="comment : ${comments}">
                                    <td><h4 th:text="${comment.author.username}"></h4></td>
                                    <td><p th:text="${comment.comment}"></p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
        <script th:src="@{/js/commentsAutorefresh.js}"></script>
    </body>
</html>
